$darkColor1: #272121;
$darkColor2: #333335;
$darkColor3: #787c61;
$whiteColor: #dce1e7;
$buleColor: #3f5c7c;

body {
  margin: 0;
  background: $whiteColor;
}
#root-app {
  // background: #000;
}
.app {
  width: 100%;
  height: auto;
}
.container {
  max-width: 970px;
  margin: 0 auto;
  background: $darkColor3;
  // height: 400px;
  padding: 10px;
}
.section {
  padding: 10px;
  width: 100%;
}
.row .item {
  margin: 1px;
}
.item {
  text-align: center;
  background: $darkColor1;
  color: $whiteColor;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  position: relative;
  > span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 20px;
  }
}