// #zencell

/*
________     ________    
       /    |            |\       |
      /     |            | \      |
     /      |            |  \     |
    /       |________    |   \    |
   /        |            |    \   |
  /         |            |     \  |
 /          |            |      \ |
/_______    |________    |       \|

*/

$zencellGridColumns: 12;
$padding: 5px;
$rowPadding: 10px;
$besidePadding: 10px;
$minWidth: 360;
$containerWidth: 1180px;
$breakPoint: ( 'null': 1281, // desktop
'xl': 1025, // tabletWide
'l': 961, // tablet
'm': 641, // tabletSmall
's': 481, // phoneWide
'ss': 320, // phone
);
$names: ( null, 'xl', 'l', 'm', 's' 'ss');
%setAll {
  float: left;
}

%setMediaWidth {
  width: 100%;
}

%addBesidePadding {
  padding-left: $besidePadding;
  padding-right: $besidePadding;
}

.container {
  width: $containerWidth;
  margin-left: auto;
  margin-right: auto;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
}

.flex-wrapper {
  display: flex;
  .flex-left {
    margin-left: auto;
  }
  .flex-right {
    margin-right: auto;
  }
  .flex-middle {
    align-items: center;
  }
}

*,
 ::after,
 ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  padding-right: 0;
  padding-left: 0;
}

.no-gutter>[class*=zen] {
  padding-right: 0;
  padding-left: 0;
}

[class*=zen]::before,
[class*=zen]::after {
  content: " ";
  clear: both;
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}

@mixin createGirdColumn($number, $maxWidth, $subname) {
  $rename: '';
  @if ($subname !='null') {
    $rename: '.zen-' + $subname + '-' + $number;
  }
  @else {
    $rename: '.zen-' + $number;
  }
  #{$rename} {
    width: #{$maxWidth + '%'};
    @extend %setAll;
    @extend %addBesidePadding;
  }
}


/* Z E N C E L L */

@mixin mediaWidthDevice($name, $width) {
  @media (max-width: $width + 'px') {
    @content;
  }
}

// gridview
@each $name,
$width in $breakPoint {
  $rename: '';
  @if ($name !='null') {
    @media (max-width: $width + 'px') {
      .container {
        width: $width + 'px';
      }
      @for $i from 1 through $zencellGridColumns {
        $rename: '.zen-' + $name + '-' + $i;
        $percen: (100 * $i) / $zencellGridColumns;
        #{$rename} {
          width: #{$percen + '%'};
          padding-right: $besidePadding;
          padding-left: $besidePadding; // @extend .addBesidePadding;
        }
      }
    }
  }
  @else {
    @for $i from 1 through $zencellGridColumns {
      $rename: $rename + '.zen-' + $i;
      @if ($i !=1 && $i < $zencellGridColumns) {
        $rename: $rename + ', ';
      }
      @else {}
      $percen: (100 * $i) / $zencellGridColumns;
      @include createGirdColumn($i, $percen, $name);
    }
    @media screen and (max-width: $minWidth + 'px') {
      #{$rename} {
        width: 100%;
        padding-right: $besidePadding;
        padding-left: $besidePadding; // @extend .addBesidePadding;
      }
    }
  }
}

@each $name,
$width in $breakPoint {
  $nameClass: '.zen-' + $name + '-hidden';
  @media screen and (max-width: $width + 'px') {
    #{$nameClass} {
      display: none !important;
    }
  }
}

@media (max-width: 1180px) {
  .container {
    width: 100%;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}


/* zencell by sutthirot tawanthananthon */